@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src:  url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  src:  url(../fonts/Oswald-SemiBold.ttf);
}


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bolder;
  src:  url(../fonts/Oswald-Bold.ttf);
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body h1{
  font-size: 3.5em;
  margin: 5px 0 5px 0;
  font-family: 'Oswald';
  font-weight: bold;
}

body h2{
  font-size: 2.2em;
  margin: 5px 0 5px 0;
  font-family: 'Oswald';
  font-weight: lighter;
}

body h3 {
  font-size: 1.5em;
  margin: 5px 0 5px 0;
  font-family: 'Oswald';

}

.container {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  box-sizing: border-box;
}

main {
  padding-top: 20px;
  color: #312934;
}

/* HEADER */

header {

  color: #f2f0f1;
  background-color:  #312934;
  margin-bottom: 50px;
}

.heroSection{
  height: 175px;
  vertical-align: baseline;
  padding-top: 10px;
  background-image: url(../img/bg.png);
  background-size: cover;
}

.title>h2{
  font-size: 1.5em;
  margin: 0;
  font-family: 'Oswald';
}


/* MENU PRINCIPAL */

.mainMenu > ul{
  height: 100%;
}

.mainMenu {
  display: block;
  width: 100%;
  padding-left: 15%;
  border-top: 4px solid #d94154;
  box-sizing: border-box;
  height: 50px;
  padding-top: 10px;
  text-align: right;

}

.menuItem {

  display: inline-block;
  font-size: 1.3em;
  box-sizing: border-box;
  margin-right: 50px;
  padding: 4px;
  height: 100%;
  font-family: 'Oswald';
}

.menuItem > a{

  color: #f2f0f1;
}

.menuItem>a:hover,
.dropMenu:hover{
  cursor: pointer;
  color: #d94154;
}

@media screen and (max-width: 400px){

  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .menuItem{
    display: block;
    height: 50px;
    text-align: right;
    border-bottom: 2px solid #f2f0f1;
    width: 100%;
    padding-top: 10px;
  }

  .mainMenu {
    height: auto;
  }

}

/*DROP MENU*/

.dropContent>.menuItem{

  color: #f2f0f1;
  display: block;
}

.dropContent {
/*  border-top: 1px solid #d94154;  */
  display: none;
  background-color:  #312934;
  width: inherit;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  z-index: 1;
}

.dropContent > .menuItem{
  margin: 0;
  height: 1.5em;
  width: 120px;
  text-align: left;
}

.dropMenu:hover{

}

.dropMenu:hover > .dropContent{
  display: block;
  position: absolute;
}

#dropCheck:checked+label{
  color: red;
}

#dropCheck{
  display: none;
}

/* ELEMENTOS CORPO DO SITE */

.topic {
  margin: 0px 0px 50px 0px;
  padding-right: 0px;
}

.topic p{

  font-family: sans-serif;
}

.topic p a{

  font-size: 1.1em;
  color: #d94154;
}

.topic p a:hover{

  color: #8f2934;
}

.topic figure{

  width: 80%;
  margin: 40px auto 40px auto;
  display: block;
}

.topic figure figcaption{

  font-family: sans-serif;
}

.member{
  margin: 50px 0px 50px 0px;
}

.member-pic{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
  border: 5px solid #d94154;
  border-radius: 50%;
}

.member-text {
  display: inline-block;
  width: 80%;
}

.member-type{

  border-bottom: 5px solid #d94154;
  text-transform: uppercase;
}

main h2+.project{
  margin-top: 20px;
}

.project{
  margin: 0px 0px 50px 0px;
}

.contact{

  margin: 40px auto 0px auto ;
  display: flex;
  width: 100%;

}

.contactItem{

  display: inline-block;
  width: 45%;
  margin-left: 2.5%;
}

.contactItem h3{
  border-bottom: 3px solid #d94154;
  width: 50%;
  margin-top: 10px;
}

footer {
  height: 80px;
  background-color: #312934;
}
